/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/commandlinetools/Laravel_31_10_2020__15_22.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/COMP3335_project.iml
.idea/php.xml
.idea/phpunit.xml
.idea/workspace.xml
.styleci.yml
